nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-b);
  filter: drop-shadow(var(--shadow));
}

div.logo img {
  width: 110px;
}

ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

ul li {
  margin: 0;
}

ul li a {
  color: var(--color-d);
  text-decoration: none;
  font-size: 18px;
  padding: 15px 20px;
  border-radius: 5px;
  border: 1px solid transparent;
}

ul li a:hover {
  background: var(--color-b);
  border-color: var(--color-j);
  box-shadow: var(--shadow);
}
